<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>componente-element demo</title>

    <script src="../../webcomponentsjs/webcomponents-loader.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../componente-element.html">
     <link rel="import" href="../componente-lrc.html">

    <custom-style>
      <style is="custom-style" include="demo-pages-shared-styles">
      </style>
    </custom-style>
  </head>
  <body>
    <div class="vertical-section-container centered">
      <h1>Consulta clientes</h1>
      <demo-snippet>
        <template>
          <componente-element></componente-element>
          <componente-lrc></componente-lrc>

           <script type="text/javascript">
              let dataClientes = [];
              let dataBan = [];
              async function prom(){
                let response = await fetch('http://demo6292426.mockable.io/accounts')
                let json = await response.json()
                return json;
              }

            async function fun(){ 
              let dataUsuarios = await prom();
              const dataBancos = dataUsuarios.reduce((acumulador, item, index) => { 
              
              //crear arreglo por cada banco
              dataClientes.push({
                  bankName: item.company,
                  name: item.name.first,
                  last: item.name.last,
                  balance: item.balance,
                  email: item.email 
                });
                
              acumulador[item.company] = dataBan[item.company] ?  parseFloat(item.balance) + parseFloat(item.balance) : parseFloat(item.balance); 
                
                acumulador["dataClientes"] = dataClientes;
                //acumulador["bancos"] = dataBan;             
              return acumulador;
              }, {} );
              console.log(dataBancos);          
                    
              const  componente = document.querySelector("componente-element");
              componente.name  = dataBancos.bancos;
              const  componente1 = document.querySelector("componente-lrc");
              componente1.personas  = dataBancos.dataClientes;
             
            }
            fun();

            const ar = [{
              banco: "BBVA",
              totalClientes:12,
              totalCuentas: 121221.1212,
              clientes:[{
                a:"a"               
              },{
                b:"b"
              }],
            },
            {
              banco: "BBVA",
              totalClientes:12,
              totalCuentas: 121221.1212,
              clientes:[{
                a:"a"               
              },
              {
                b:"b"
              }]
            }];

         </script>

        </template>
      </demo-snippet>
    </div>
  </body>
</html>





[
{
  banco:bbva
  clientes:[{}]
},
{

}
]




const ar = [{
              banco: "BBVA",
              totalClientes:12,
              totalCuentas: 121221.1212,
              clientes:[{
                a:"a"               
              },{
                b:"b"
              }],
            },
            {
              banco: "SANTANDER",
              totalClientes:12,
              totalCuentas: 121221.1212,
              clientes:[{
                a:"a"               
              },
              {
                b:"b"
              }]
            }];









[BANORTE: 1771262.57, dataClientes: Array(100), SCOTIABANK: 1198064.3, BBVA: 1302301.24, IXE-BANORTE: 3803066.35]
BANORTE: 1771262.57
BBVA: 1302301.24
IXE-BANORTE: 3803066.35
SCOTIABANK: 1198064.3
dataClientes: Array(100)
0:
balance: "3048212.83"
bankName: "BANORTE"
email: "latonya.burt@banorte.me"
last: "Burt"
name: "Latonya"




<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="componente-element">
  <template>
    <style>
        :host {
          display: block;
          background-color: #12aaaa;
          color: #aa1234;
        }
        h2 {
          padding: 20px;
        }
    </style>
   
      <h2>{{name}} {{total}}</h2>
      <p>Propiedad: [[propiedad]]</p>
      <p>nickName: [[nickName]]</p>
      <p>categoryName: [[categoryName]]</p>

  </template>

  <script>

    class ComponenteElement extends Polymer.Element {
      static get is() { return 'componente-element'; }
      static get properties() {
        return {
          propiedad: String,
          bancos: {
            type: Array
          },
          name:{
            type: String
          },
          total:{
            type: String
          },
          nickName: {
            type: String,
            value: 'EnriqueLC',
            reflectToAttribute: true
          },
          categoryName: {
            type: String,
            computed: '_getCategory(nickName)'
          },
          nameobserver: {
            observer:"_observaCambioEnNameObserver",
            type: String,
            value: 'me esta escuchando',
            reflectToAttribute: true
          }
        };
      }
      _getCategory(nickName) {
        let categoryName = 'Gamer tag: ' + nickName
        return categoryName
      }

      _observaCambioEnNameObserver(newValue, oldValue) {
        console.log(newValue, oldValue)
        this.nickName = newValue;
      }

      static get observers() {
        return [ '_escuchaPropiedades(propiedad, nickName, categoryName)' ]
      }

      _escuchaPropiedades(propiedad, nickName, categoryName) {
        console.log(propiedad, nickName, categoryName)
      }

    }

    window.customElements.define(ComponenteElement.is, ComponenteElement);
  </script>
</dom-module>



totalCuenta: 3542525.14
BBVA: Array(1)
totalCuenta: 2604602.48
IXE-BANORTE: Array(1)
totalCuenta: 7606132.7
SCOTIABANK: Array(1)
totalCuenta: 2396128.6


BANORTE: 3542525.14, 
SCOTIABANK: 2396128.6,
BBVA: 2604602.48, 
IXE-BANORTE: 7606132.7]


