<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="componente-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `componente-element`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ComponenteElement extends Polymer.Element {
      static get is() { return 'componente-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'componente-element'
          }
        };
      }
    }

    window.customElements.define(ComponenteElement.is, ComponenteElement);
  </script>
</dom-module>
