<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-card/paper-card.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-button/paper-button.html">



<dom-module id="componente-nuevo">

  <template> 
    <style >
      :host {
        display: block;
      }
      paper-button {
        background-color: #11abc6;
      }

    </style>
    <h1>componente-nuevo {{filtroSeleccionado}}</h1>
    <paper-button on-click="presionado">Boton</paper-button>
  </template>


  <script>

    class ComponenteNuevo extends Polymer.Element {
      static get is() { return 'componente-nuevo'; }
      static get properties() {
        return {
          filtroSeleccionado: {
            type: Boolean,
            value: true,
            notify: true
          }

        };
      }

      presionado = () => {
        this.set('filtroSeleccionado', !this.filtroSeleccionado);
        console.log('desde nuevo compoente', this.filtroSeleccionado);
      }

    }

    window.customElements.define(ComponenteNuevo.is, ComponenteNuevo);
  </script>
</dom-module>
