<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-card/paper-card.html">
<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">

<dom-module id="componente-element">
  <template>
    <style>
        :host {
          display: block;
          background-color: #12aaaa;
          color: #aa1234;
        }
        h3 {
          padding: 1px;
        }
    </style>
   <template is='dom-repeat' items={{categoryBancos}}>
      <h3> {{item.banco}} - {{item.totalBalance}}</h3>
    </template>
  
  </template>

  <script>

    class ComponenteElement extends Polymer.Element {
      static get is() { return 'componente-element'; }
      static get properties() {
        return {
          bancos: {
            type: Array
          },
          categoryBancos: {
            type: Array,
            computed: '_getBancos(bancos)'
          }
        };
      }

      _getBancos(bancos) {
        let obj={};
        let dataBancos = bancos.reduce((acumulador, item, index) => { 
                
          
          let elemento = acumulador.find(bank => bank.banco === item.company );
          if (elemento) {
            obj.totalBalance = parseFloat(item.balance) + parseFloat(item.balance);   
          } else {
            obj = {};
            obj.banco = item.company;
            obj.totalBalance = parseFloat(item.balance);
            acumulador.push(obj);
          }           
             
          return acumulador;
          }, []);

         console.log(dataBancos);
        return dataBancos;
      }

    }

    window.customElements.define(ComponenteElement.is, ComponenteElement);
  </script>
</dom-module>
