<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-card/paper-card.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-button/paper-button.html">



<dom-module id="componente-nuevo2">

  <template>
  
  <style >
    :host {
      display: block;
    }
    paper-button {
      background-color: #11abc1;
    }

  </style>
    <h1>componente-nuevo2 {{filtroSeleccionado2}}</h1>
    <paper-button on-click="presionado">Boton2</paper-button>
  </template>


  <script>

    class ComponenteNuevo2 extends Polymer.Element {
      static get is() { return 'componente-nuevo2'; }
      static get properties() {
        return {
          filtroSeleccionado2: {
            type: Boolean,
            value: true,
            notify: true
          }

        };
      }

      presionado = () => {
        this.set('filtroSeleccionado2', !this.filtroSeleccionado2);
        console.log('desde nuevo compoente 2', this.filtroSeleccionado2);
      }

    }

    window.customElements.define(ComponenteNuevo2.is, ComponenteNuevo2);
  </script>
</dom-module>
