<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-card/paper-card.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-checkbox/paper-checkbox.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../paper-spinner/paper-spinner.html">
<link rel="import" href="./componente-nuevo.html">
<link rel="import" href="./componente-nuevo2.html">



<dom-module id="componente-lrc">

  <template>
    
    <componente-nuevo filtro-seleccionado="{{isSelectect}}"></componente-nuevo>
    <componente-nuevo2 filtro-seleccionado2="{{isSelectect}}"></componente-nuevo2>
    
    <paper-checkbox checked on-click="elOnClick">{{defaultTextCheckBox}}</paper-checkbox>
    
    <custom-style>
      <style is="custom-style">
        .cafe-header { @apply --paper-font-headline; }
        .cafe-light { color: var(--paper-grey-600); }
        .cafe-location {
          float: right;
          font-size: 15px;
          vertical-align: middle;
        }
        .cafe-reserve { color: var(--google-blue-500); }
        iron-icon.star {
          --iron-icon-width: 16px;
          --iron-icon-height: 16px;
          color: var(--paper-amber-500);
        }
        iron-icon.star:last-of-type { color: var(--paper-grey-500); }
        paper-checkbox { padding: 20px; }
      </style>
    </custom-style>

    <iron-ajax
      url="http://demo6292426.mockable.io/accounts"
      auto
      handle-as="json"
      last-response="{{user}}"
      loading="{{cargando}}">
    </iron-ajax>

    <template is="dom-if" if="{{cargando}}"></template>
    <paper-spinner active="{{cargando}}"></paper-spinner>
    
    <template is="dom-if" if="{{isSelectect}}">
      verdadero
      <template is='dom-repeat' items={{categoryUser}} filter="isFree">
        <paper-card image="../../paper-card/demo/donuts.png" >
            <div class="card-content">
              <div class="cafe-header">{{item.name}} - {{item.last}}
                <div class="cafe-location cafe-light">
                  <iron-icon icon="communication:location-on"></iron-icon>
                </div>
              </div>
            <div class="cafe-rating">
            <paper-input disabled="{{item.freeze}}" label="{{item.email}}"></paper-input>
            <p class="cafe-light">{{item.bankName}}</p>
          </div>
          <div class="card-actions">
            <div class="horizontal justified">
              <paper-icon-button icon="icons:event"></paper-icon-button>
              <paper-button disabled="{{item.freeze}}" class="cafe-reserve">Desbloqueo</paper-button>
            </div>
          </div>
        </paper-card>
      </template>
    </template>

    <template is="dom-if" if="{{!isSelectect}}">
      falso
      <template is='dom-repeat' items={{categoryUser}} filter="noFreeze">
        <paper-card image="../../paper-card/demo/donuts.png" >
            <div class="card-content">
              <div class="cafe-header">{{item.name}} - {{item.last}}
                <div class="cafe-location cafe-light">
                  <iron-icon icon="communication:location-on"></iron-icon>
              </div>
            </div>
            <div class="cafe-rating">
              <paper-input disabled="{{item.freeze}}" label="{{item.email}}"></paper-input>
              <p class="cafe-light">{{item.bankName}}</p>
            </div>
          <div class="card-actions">
            <div class="horizontal justified">
              <paper-icon-button icon="icons:event"></paper-icon-button>
              <paper-button disabled="{{item.freeze}}" class="cafe-reserve">Desbloqueo</paper-button>
            </div>
          </div>
        </paper-card>
      </template>
    </template>
  </template>


  <script>

    class ComponenteLrc extends Polymer.Element {
      static get is() { return 'componente-lrc'; }
      static get properties() {
        return {
          user: {
            type: Array
          },
          categoryUser: {
            type: Array,
            computed: '_getUser(user)'
          },
          filtroUser: {
            type: Array
          },
          defaultTextCheckBox: {
            type: String,
            value: 'Encender Filtro'
          },
          isSelectect: {
            type: Boolean,
            value: true
          }

        };
      }

      _getUser(user) {
        return user.reduce((acumulador, item) => { 
          acumulador.push({
            bankName: item.company,
            name: item.name.first,
            last: item.name.last,
            balance: item.balance,
            email: item.email,
            freeze: item.isFreeze
          });
          return acumulador;
        }, []);
      }

      elOnClick = () => {
        this.set('isSelectect', !this.isSelectect)
        const textBotton = this.isSelectect ? 'Apagar Filtro':'Encender Filtro';
        this.set('defaultTextCheckBox',textBotton); 
        console.log(this.defaultTextCheckBox, this.isSelectect); 
      
      }

      isFree = item => item.freeze;
      noFreeze = item => !item.freeze;

    }

    window.customElements.define(ComponenteLrc.is, ComponenteLrc);
  </script>
</dom-module>
